/*--------------
  RESET
--------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/*--------------
  BODY
--------------*/
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#009688 15%, 15%, #dbdbd4 85%);
}
#app.container {
  width: 1280px;
  background-color: #eaeaea;
  height: calc(100% - 3rem);
  margin: auto;
  margin-top: 1.5rem;
}
/*--------------
  FLEX
--------------*/
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.col-4 {
  width: calc(100% / 12 * 4);
  height: 100%;
  border-right: 1px solid #b1b1b1;
}
.col-8 {
  width: calc(100% / 12 * 8);
  height: 100%;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
/*--------------
  ITEMS
--------------*/
.item-70 {
  height: 4.375rem;
  padding: 0.5rem;
}
.item-80 {
  height: 5rem;
  padding: 0.5rem;
}
.avatar {
  border-radius: 50%;
  height: 95%;
  margin-right: 0.75rem;
}
i {
  color: #b1b1b1;
  font-size: 1.5rem;
  margin: 0.75rem;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
/*--------------
  LEFT SECTION
--------------*/
.notification {
  background-color: #8edafc;
}
.notification i {
  border-radius: 100%;
  padding: 1rem;
  margin-right: 0.75rem;
  color: #8edafc;
  background-color: white;
}
.notification a {
  color: inherit;
}
.search-form {
  padding: 0.5rem;
  width: 100%;
}
.search-form button,
.search-form input {
  background-color: white;
  border: 1px solid #eaeaea;
}
.search-form input {
  flex-grow: 1;
  padding-left: 1rem;
}
.message-list {
  flex-grow: 1;
  background-color: white;
  overflow-y: scroll;
}
.message-list p {
  color: #b1b1b1;
}
.recipient-data p,
.message-time {
  color: #b1b1b1;
}
.message-time {
  text-align: right;
  padding: 0.5rem;
  align-self: flex-start;
}
.selected {
  background-color: #eaeaea;
  order: -1;
}
/*--------------
  RIGHT SECTION
--------------*/
.message-field {
  flex-grow: 1;
  background-image: url(../img/mine.jpg);
  padding: 1rem;
  overflow-y: scroll;
}
.message-field .container {
  width: 80%;
  margin: auto;
}
.message {
  min-height: 4rem;
}
.received {
  justify-content: flex-end;
}
.message p {
  display: inline-block;
  width: 45%;
  padding: 1rem;
  border-radius: 8px;
}
.sent p {
  background-color: white;
}
.received p {
  background-color: #d5f9ba;
}
.send-text-field {
  justify-content: space-evenly;
}
.send-text-field input {
  border: 1px solid #eaeaea;
  padding: 1rem;
  width: 80%;
  border-radius: 15px;
}
